/* -------------- FUENTES  --------------  */



@font-face {
  font-family: "AmpleSoft Bold";
  src: url("https://e-commerce.payulatam.com/hubfs/Storage/Font/AmpleSoft%20Bold.otf") format('truetype'),
url('https://e-commerce.payulatam.com/hubfs/Payu-CO/CO-files/AmpleSoft-Bold.woff') format('woff')
    ;

}

@font-face {
  font-family: "AmpleSoft Medium";
  src: url("https://e-commerce.payulatam.com/hubfs/Storage/Font/AmpleSoft%20Medium.otf") format('truetype'),
url('https://e-commerce.payulatam.com/hubfs/Payu-CO/CO-FONT/soneri_type_-_amplesoft-medium-webfont.woff') format('woff')
    ;

}

@font-face {
  font-family: "AmpleSoft";
  src: url("https://e-commerce.payulatam.com/hubfs/Storage/Font/AmpleSoft.otf") format('truetype'),
url('https://e-commerce.payulatam.com/hubfs/Payu-CO/CO-files/AmpleSoft.woff') format('woff')
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body
{

font-family: 'AmpleSoft', sans-serif;
text-align: justify;
}

p{
  font-size: 20px;
color: #979797;
}

/* -------------- Generales  --------------  */

  h1
  {
    text-align: center;
  }
  .section h1
  {
    color: #a8c32f;  
  }

  h3, h2
  {
   text-align: center;
  }
  .section h1
  {
    position: relative;

    margin-bottom: 45px;
  }

  .level2 h2 
  {
    margin: 20px 0;
    font-weight: bold;
    margin-bottom: 75px;
  }
  .level2 .row 
  {
    margin-top: 75px;
    margin-bottom: 60px;
  }

  /* puntos verdes */
  /*
  h1:after {
  content: ". . .";
  height: 10px;
  background-repeat: no-repeat;
  width: fit-content;
  color: #a8c32f;
  position: absolute;
  top: 50px;
  left: calc(50%);
  font-size: 19px;
  }
  */

  a.email 
  {
    color: #a8c32f;
  }

  @media only screen and (max-width: 768px)
  {
      .section.level1 h1 
      {
        font-size: 22px;
        padding: 0 10%;
      }
      .section h1 
      {
          margin-bottom: 15px;
      }

  }


/* -------------- parrafo Francisco Leon  --------------  */

/*Subir primer parrafo*/

.container-fluid.main-container > div:nth-of-type(2) 
{
  /* margin-top: -200px; */
}
/* arreglo */
.container-fluid.main-container .section:nth-of-type(3) 
{
  margin-top: -160px ;
}

@media only screen and (max-width: 768px)
{
  /*Poisicona primer parrafo*/
  .container-fluid.main-container > div:nth-of-type(3) 
  {
    margin-top: -50px !important;
  }
  header ~ .section ~ .row 
  {
    padding: 10px 10% 30px 10%;
  }
  
}


.main-container > .row {
  padding: 0 10%;
}

/* -------------- parrafo Francisco Leon  --------------  */

/* más borde gris */
header ~ .section ~ .row 
{
  padding-top: 45px;
  padding-bottom: 45px;
}




hr 
{
  display: inline-block;
  border-bottom: 4px solid #00adba;
  width: 44px;
  margin: 5px;
}


#iniciativas-payu span 
{
  font-size: 23px;
  font-weight: 600;
  text-align: center;
}

.firmaCM {
  text-align: center;
  font-size: large;
}



/* -------------- parrafo Evolución comercios  --------------  */

/* Lista de paises */
select#country 
{
  border-radius: 5px;
  min-width: 160px;
  border: 1px solid #b9b9b9;
}

/* Porcentaje de crecimiento */
ul 
{
  color: #9F9F9F;
  padding: 0 10%;
}


@media only screen and (max-width: 768px)
{
  /* Porcentaje de crecimiento */
  ul 
  {
    font-size: 10px;
  }


}
/* -------------- infografía latam  --------------  */

/* imagen Full-width */
#payu-generando-confianza 
{
  padding: 0;
  padding-bottom: 60px;
}

@media only screen and (max-width: 768px)
{
  div#payu-generando-confianza 
  {
    padding-bottom: 10px;
  }

}
/* -------------- Comportamiento compradores  --------------  */

/* Quita espacio entre el titulo y el texto */
div#comportamiento-de-los-compradores > h1 {
  padding-bottom: 0;
  margin-bottom: 5px;
}

/*Acomdar la imagen redonda y quitarle el padding la sección*/

div#comportamiento-de-los-compradores 
{
  position: relative;
  padding: 0;
}

/* Se le da padding a todos los elementos de la seccion para que se pueda quitar a cada elemento segun sea necesario */
div#comportamiento-de-los-compradores > * 
{
  padding: 40px 10%;
}

#ImgMediaBolaComportamiento
 {
  position: absolute;
  right: -34%;
  max-width: 123%;
}

/*Permite que el placeholder de la gráfica de compradores se sobreponga a los circulos PIE  */

div#comportamiento-de-los-compradores 
{
  position: relative;
}

/* Mueve el placeholder de la gráfica (una img) arriba y lo pone sobre los circulos */
div#placeholder-grafica-desktop img 
{
  margin-top: -100px;
  z-index: 2;
  position: relative;
}

/*Acomodar la grafica en la viñeta*/
#barras-compradores 
{
  z-index: 3;
  margin-top: -640px;
  position: relative;
}



@media only screen and (max-width: 768px)
{
  div#comportamiento-de-los-compradores > h1 
  {
    padding-bottom: 20px;
    padding-top: 10px;
    margin-bottom: 5px;
  }
  div#comportamiento-de-los-compradores 
  {
    padding-top: 10px;
  }
  /* Se le da padding a todos los elementos de la seccion para que se pueda quitar a cada elemento segun sea necesario */
  div#comportamiento-de-los-compradores > .row 
  {
    padding: 0px 10%;
  }

  /* la burbuja es full width */
  div#comportamiento-de-los-compradores .ocultarEnDesktop 
  {
    padding: 40px 0;
  }

  div#comportamiento-de-los-compradores .ocultarEnDesktop .col-md-4:first-child img, #IMGComportamientosFoto 
  {
    position: absolute;
    right: 0;
    margin-top: -37px;
}
  #IMGComportamientosGraficas 
  {
      margin-top: 250px;
  }
  #placeholder-grafica-mobile 
  {
      margin-top: -95px;
  }
  
    /*Acomodar la grafica en la viñeta*/
    #barras-compradores 
    {
      margin-top: -330px;
    }



}
/* -------------- Nuestros secotres representativos  --------------  */

/* Crea fondo blanco a la sección */
h1#nuestros-sectores-representativos, h1#nuestros-sectores-representativos ~ div 
{
  background: white;
  margin-bottom: 0;
}

div#nuestros-sectores-representativos 
{
  padding-right: calc(10% - 20px);
}
@media only screen and (max-width: 768px)
{
  /*Acomodar la grafica en la viñeta*/
  #barras-compradores 
  {
    margin-top: -200px;
  }
  
  h3#participación-del-sector-1 
  {
      text-align: center !important;
  }
  
  
  /* borde a la gráfica */
  h3#participación-del-sector-1 ~ div
  {
     /* padding-right: 10%;
     padding-left: 10%; */
     margin-left: -3%;

  }
  
  div#nuestros-sectores-representativos 
  {
      /* padding-right: 10%; */
  }
  /* quita el borde para que la gráfica pueda ser de lado a lado */
  div#nuestros-sectores-representativos 
  {
    padding-right: 0;
    padding-left: 0;
  }

  div#nuestros-sectores-representativos p:last-child 
  {
    padding: 0;
    margin-top: -190px;
    position: relative;
  }
}

/* -------------- Crecimiento (gráficas)  --------------  */


/* pega la imagen al borde */
/* div#crecimiento-mensual-por-sector-2020-vs-2019-de-enero-a-julio-durante-covid-19 img  */
#imagenBolaSMB
{
  position: absolute;
  left: -34%;
  max-width: 437px;
}
h3#participación-del-sector {
  position: relative;
  z-index: 2;
}
#participación-del-sector ~ .html-widget 
{
  margin-bottom: -41px;
  padding-bottom: 0;
  margin-top: -52px;
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 768px)
{
  div#crecimiento-mensual-por-sector-2020-vs-2019-de-enero-a-julio-durante-covid-19 .row 
  {
    padding: 40px 10%;
  }
  div#crecimiento-mensual-por-sector-2020-vs-2019-de-enero-a-julio-durante-covid-19 
  {
    padding: 0;
    padding-top: 10px;
  }
  div#crecimiento-mensual-por-sector-2020-vs-2019-de-enero-a-julio-durante-covid-19 .ocultarEnDesktop img 
  {
    margin-top: -152px;
  }
 

  /* corre las gráficas a la izquierda pq no estan alineadas */
  div#crecimiento-mensual-por-sector-2020-vs-2019-de-enero-a-julio-durante-covid-19 .plot-container 
  {
    margin-left: -29px;
    
    padding-top: 20px;
  }

}
/* -------------- Impulsando a emprendimientos  --------------  */


div#impulsando-a-emprendimientos-pymes-y-negocios-de-barrio {
  padding: 40px 0;
}

div#impulsando-a-emprendimientos-pymes-y-negocios-de-barrio > * 
{
  padding: 0px 10%;
}

#graficaSectorSMB 
{
  padding: 0 !important
}

@media only screen and (max-width: 768px)
{
  /* corre las gráficas a la izquierda pq no estan alineadas */

  div#impulsando-a-emprendimientos-pymes-y-negocios-de-barrio .plot-container 
  {
    margin-left: -55px;
  }
}

/* -------------- Footer  --------------  */
footer .ocultarEnMovil img 
{
  padding: 0 10%;
}

@media only screen and (max-width: 768px)
{
  /* Centra la segunda imagen */
  footer .row.ocultarEnDesktop img:nth-child(2n) 
  {
    padding-left: 43px;
  }
}
/* -------------- Noticias  --borar --------------  */

.noticias .row .col-md-3:nth-child(3n - 1),
div#noticias-arg .col-md-3:nth-child(3n - 1) {
  background-color: #004852;
  height: 270px;
  border-radius: 9px;
  padding: 47px 32px;
  font-family: AmpleSoft;
  margin-left: -25px;
  color: white;
  font-size: 42px;
}

/* .noticias .row .col-md-3:nth-child(3n - 1) p,
div#noticias-arg .col-md-3:nth-child(3n - 1) p {
  color: white;
  font-size: 42px;
} */

.noticias .row .col-md-3:nth-child(4n - 1) {
  background-color: white;
  /* border: 1px solid grey; */
  padding: 0;
  margin-left: 24px;
  border-radius: 9px;
  box-shadow: -1px 4px 3px 5px #f2f2f2;
  height: 409px;
  
  overflow-x: hidden;
}

.noticias .row .col-md-3:nth-child(4n - 1) p 
{
  padding: 0 22px;
}
.noticias .row .col-md-3:nth-child(4n - 1) > p:nth-child(4n-3) {
  padding: 0px;
}



/* -------------- Noticias  --------------  */



/*Imagenes iniciativas payu*/
#iniciativas-payu > .row 
{
  display: flex;
  justify-content: space-between;
}

div#iniciativas-payu > .row >.col-md-4 > p:nth-of-type(2), div#iniciativas-payu > .row >.col-md-4 > h3:nth-of-type(1) {
  padding: 10px;
}

#iniciativas-payu .col-md-4 
{
  background: white;
  padding: 0px;
  border-radius: 20px;
  margin: 1%;
  box-shadow: -1px 1px 3px 2px #D8D8D8;

}


@media only screen and (max-width: 768px)
{
  #iniciativas-payu > .row 
  {
    display: block;
  }
  /* Espacio entre noticias */
    #iniciativas-payu .col-md-4 
  {
      margin-top: 29px;
      
  }
  div#iniciativas-payu > p 
  {
      display: none;
  }
  
}


/* -------------- Header  --------------  */

  /* Borrar el título que genera RMarkdown */
  h1.title.toc-ignore {
  display: none;
  }

  div + p + p{
  padding: 0 10%;
  }

  #iniciativas-payu .col-md-4 p{
  font-size: 13px
  }

  div#encabezado {
    display: none;
  }

  #encabezado .logos
  {
  margin-top: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
  }
  #encabezado .logos img
  {
  margin-right: 30px;
  /* height: 20px;; */
  }
  #encabezado .logos a
  {
  /* display: inline; */
  color: white;
  font-size: 14px;
  font-weight: bold;
  float: right;
  line-height: 45px;
  /* right: 5px; */
  }

  #encabezado p
  {
  font-size: 17px;
  }
  .botonMas
  {
  margin-left: calc(50% - 85px);
  }

  .botonMas button
  {
  font-weight: bold;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #a8c32f;
  background-color: white;
  border: none;
  padding: 7px;
  }

  #encabezado h1
  {
  text-align: left;
  }

  /* evita que se pongan los 3 puntos verdes en el header */
  header h1:after 
  {
  content: "";
  }

  h1{
  font-size: 45px;
  text-align: center;
  COLOR: #a6c307;
  font-weight: bold;
  font-family: AmpleSoft !important;
  }

  h3{
  font-family: AmpleSoft !important;
  font-size: 30px;
  color: #5c5c5c !important;
  text-align: left !important;
  }

  .container-fluid.main-container > div:nth-of-type(4), 
  #comportamiento-de-los-compradores, 
  #crecimiento-mensual-por-sector-2020-vs-2019-de-enero-a-julio-durante-covid-19,
  #iniciativas-payu {
  background-color: #f4f4f4;
  }

  /*Acomoda la imagen de quotes*/
  #iniciativas-payu .row .col-md-7 p {
  text-align: center;
  }

  #htmlwidget-b0787fd714e60e5b0598
  {
  display: none;
  }

  /* Borra las opciones de plotly */
  div.modebar {
  display: none;
  }

  /* Texto específico para desktop*/
  div#texto_desktop {
  display: block;
  text-align: center;
  }
  div#texto_mobile {
  display: none;
  }

  .ocultarEnMovil
  {
  display: block;
  }
  .ocultarEnDesktop
  {
  display: none;
  }
/* -------------- MOVIL --------------  */


  @media only screen and (max-width: 768px)
  {
  .ocultarEnMovil
  {
  display: none;
  }
  .ocultarEnDesktop
  {
  display: block;
  }
  .section.level1, body #encabezado .container-fluid 
  {
  padding: 0 15px;
  }
  .logos img:nth-child(2n) {
  float: right;
  margin-top: 9px;
  }

  #encabezado .logos
  {
  margin-bottom: 95px;
  }

  #encabezado .logos a {
  color: white;
  font-size: 19px;
  font-weight: bold;
  display: block;
  margin-top: 31px;
  position: absolute;
  left: calc(50% - 115px);

  }

  header #encabezado {
    
    background-image: none;
    height: auto;
  }

  header .container-fluid.main-container {
    /* background-image: url(https://colombia.payulatam.com/hubfs/reporte-covid-ecommerce/Imagenes/background-removebg-preview.png); */
  background-image: url("https://colombia.payulatam.com/hubfs/reporte-covid-ecommerce/Imagenes/backgroundVerdeBlanco.png");

    background-repeat: no-repeat;
    height: auto;
    background-size: 100% 162px;
    background-position-x: center;
    color: #94969b;
  }

  h1.title.toc-ignore {
    color: #1d57a9;
    font-size: 21px;
    
  font-weight: bold;
  }
  .date {
    display: none;
  }

  .botonMas 
  {
  margin-left: calc(50% - 85px);
  }

  .botonMas button
  {
  border: 1px solid #a8c32f;
  }

  /* Texto específico para mobile*/
  div#texto_desktop {
    display: none;
  }
  div#texto_mobile {
    display: block;
  }
  }

/* -------------- SECCIONES  --------------  */

  #overview li
  {
  color: #94969b;
  }

  #países
  {
  /* muesca en la parte superior */
  background-image: radial-gradient(22% 52px at 50% -30px, #FFF 98%, transparent 100%);
  }

  /* configura los bullets con colores */
  #países ul 
  {
  list-style: none;
  }
  #países li::before 
  {
  content: "......";
  background-color: #6CA5D2;
  color: transparent;
  margin-right: 12px;
  border-radius: 9px;
  width: 20px;
  font-size: 16px;
  }
  #países li:nth-child(2n)::before 
  {
  background-color: #35B0B9;
  }
  #países li:nth-child(3n)::before 
  {
  background-color: #35B0B9;
  }

  /* Formato Tablas titulos */
  .dataTables_scrollHead th.sorting {
  background-color: #174C9A;
  color: white;
  text-align: center !important;
  }

  .dataTables_scrollHead th.sorting:nth-child(2n) {
  background-color: #01A3A5;
  }

  .dataTables_scrollHead th.sorting:nth-child(3n) {
  background-color: #B6C536;
  }
  .dataTables_scrollHead th.sorting:nth-child(4n) {
  background-color: #026988;
  }
  /* formato tablas info */
  .dataTables_scrollBody td.dt-right
  {
  text-align: center !important;
  }
  .dataTables_scrollBody td.dt-right:nth-child(2n)
  {
  color:  #01A3A5;
  text-align: center;
  }
  .dataTables_scrollBody td.dt-right:nth-child(3n)
  {
  color:  #B6C536;
  }
  .dataTables_scrollBody td.dt-right:nth-child(4n)
  {
  color:  #026988;
  }
  /* otros ajustes de las tabñas */

  th.dt-right.sorting_asc {
  text-align: center !important;
  }

  table {
  border-collapse: collapse;
  border-style: hidden;
  }

  .dataTables_scrollBody  td, .dataTables_scrollBody  th ,.dataTables_wrapper.no-footer .dataTables_scrollBody 
  {
  border: 1px solid #94969b75 !important;
  }

  body tr.odd {
  background-color: #EFEFEF !important;
  color: #94969b;
  }
  .datatables {
  /* margin-bottom: 40px;
  margin-top: 40px; */
  }




/* -------------- Paises  --------------  */

#países, #países h1
{
color: white;  
}


#países
{
background-color: #1d57a9;  
}

#países li, #overview li
{
font-size: 22px;
}



/* --------------Evita que toquemos el html pero modifiquemos el container  --------------  */

body .main-container 
{
max-width: 100%;
}
body .container-fluid {
padding-right: 0px;
padding-left: 0px;
margin-right: auto;
}

.section.level1, body #encabezado .container-fluid{
padding: 0 10%;
margin-left: auto;
margin-right: auto;
}

.section.level1
{
padding: 40px 10%;
}

/* --------------Footer  --------------  */

footer
{
/* background-color: #e3e3e8; */
background-color: #3f3f3f
/* height: 300px;; */

/* background-image: radial-gradient(40% 52px at 50% -30px, #FFF 98%, transparent 100%); */
/* background-repeat: no-repeat; */
/* background-position: center; */

/* position: relative; */
}


footer.about
{
background-image: none; 
}

footer .politica
{
 
  text-align: center;
  padding-top: 27px;
 
}

footer .politica a
{
  /* display: inline-block;  */
  color: white;
  text-decoration: underline;
  font-size: 24px;
  /* position: relative; */
  text-align: center;
  position: relative;
}
.subContenedor
{
/* width: 100%;
height: 100%;
position: absolute;
background-image: url("https://colombia.payulatam.com/hubfs/reporte-covid-ecommerce/Imagenes/footerIconos.png");
background-repeat: no-repeat;
background-size: auto;
background-position-y: center;
background-position-x: right; */
right: 45px;
position: absolute;
top: 66px;

}

.contenedorLinks
{
padding: 117px 10%;
}

@media only screen and (max-width: 768px)
{

.subContenedor 
{
right: -13px;
/* left: 10px; */
/* padding-left: 10%; */
position: absolute;
top: 130px;
max-width: fit-content;
}
.contenedorLinks
{
padding: 85px 0%;
text-align: center;
}

}


/* -------------- Predeterminados desde R Markdown  --------------  */

code{white-space: pre;}

pre:not([class]) {
background-color: white;
}

h1 {
font-size: 44px;
}
h1.title {
font-size: 38px;
}
h2 {
font-size: 30px;
}
h3 {
font-size: 24px;
}
h4 {
font-size: 18px;
}
h5 {
font-size: 16px;
}
h6 {
font-size: 12px;
}
.table th:not([align]) {
text-align: left;
}

.main-container {
max-width: 940px;
margin-left: auto;
margin-right: auto;
}
code {
color: inherit;
background-color: rgba(0, 0, 0, 0.04);
}
img {
max-width:100%;
}
.tabbed-pane {
padding-top: 12px;
}
.html-widget {
margin-bottom: 20px;
}
button.code-folding-btn:focus {
outline: none;
}
summary {
display: list-item;
}


/* <!-- tabsets --> */

.tabset-dropdown > .nav-tabs {
display: inline-table;
max-height: 500px;
min-height: 44px;
overflow-y: auto;
background: white;
border: 1px solid #ddd;
border-radius: 4px;
}

.tabset-dropdown > .nav-tabs > li.active:before {
content: "";
font-family: 'Glyphicons Halflings';
display: inline-block;
padding: 10px;
border-right: 1px solid #ddd;
}

.tabset-dropdown > .nav-tabs.nav-tabs-open > li.active:before {
content: "&#xe258;";
border: none;
}

.tabset-dropdown > .nav-tabs.nav-tabs-open:before {
content: "";
font-family: 'Glyphicons Halflings';
display: inline-block;
padding: 10px;
border-right: 1px solid #ddd;
}

.tabset-dropdown > .nav-tabs > li.active {
display: block;
}

.tabset-dropdown > .nav-tabs > li > a,
.tabset-dropdown > .nav-tabs > li > a:focus,
.tabset-dropdown > .nav-tabs > li > a:hover {
border: none;
display: inline-block;
border-radius: 4px;
}

.tabset-dropdown > .nav-tabs.nav-tabs-open > li {
display: block;
float: none;
}

.tabset-dropdown > .nav-tabs > li {
display: none;
}

.centrar {
text-align: center;
}

h4#con-respecto-al-valor-de-transacciones-procesadas {
text-align: center;
}
